@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('polices/BebasNeue-Regular.eot');
    src: url('polices/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('polices/BebasNeue-Regular.woff') format('woff'),
         url('polices/BebasNeue-Regular.ttf') format('truetype'),
         url('polices/BebasNeue-Regular.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Pro';
    src: url('polices/Cocogoose Pro Light-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('polices/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('polices/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Bold';
    src: url('polices/CODE Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KeepCalm';
    src: url('polices/KeepCalm-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%
}

.nav_fixed {
    position: fixed;
    background: white;
    height: 70px;
    width: 100%;
    z-index: 3001;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    top: -15%;
    box-shadow: 0 3px 6px 3px rgba(0,0,0,.06);
}

.nav_fixed h1 {
    font-family: 'Poppins-Medium';
    color: #0282ce;
    margin-left: 250px;
    margin-top: 13px;
}

.nav_fixed ul {
    margin-top: 22px;
    margin-left: 804px;
    display: flex;
    flex-direction: row;
}

.nav_fixed li {
    list-style: none;
}

.nav_fixed a {
    font-family: 'poppins-medium';
    font-size: 17px;
    padding-right: 17px;
    padding-left: 17px;
    color: black;
    text-decoration: none;
    transition: 0.15s;
    padding-bottom: 19px;
}

.nav_fixed a:hover {
    color: #0282ce;
    border-bottom: 4px solid #0282ce;
}

header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

header h1 {
    position: absolute;
    font-family: 'Poppins-Medium';
    color: white;
    left: 13%;
    top: 0.3%;

}

nav {
    position: absolute;
    left: 60%;
    top: 3%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
}

nav a {
    font-family: 'poppins-medium';
    font-size: 19px;
    padding-right: 17px;
    padding-left: 17px;
    margin: 0;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 9px;
    padding-bottom: 9px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: #00AAFF;
}

#banniere {
    height: 600px;
}

#background {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

@keyframes swipe {
    0% {
        margin-left: 0;
    }
    24% {
        margin-left: 0;
    }
    33% {
        margin-left: -100%;
    }
    57% {
        margin-left: -100%;
    }
    66% {
        margin-left: -200%;
    }
    90% {
        margin-left: -200%;
    }
    100% {
        margin-left: -300%;
    }
}

#background figure {
    position: relative;
    width: 400%;
    margin: 0;
    margin-top: -200px;
    left: 0;
    animation: swipe 25s infinite;
}

#background figure img {
    width: 25%;
    float: left;
}

#overlay {
    position: absolute;
    background: rgba(24, 24, 24, 0.6);
    width: 100%;
    top: 0px;
    height: 600px;
}

#banner {
    display: flex;
    flex-direction: column;
}

#banner_buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
}

#banner_title {
    color: white;
    font-family: 'KeepCalm';
    font-size: 55px;
    position: absolute;
    top: 26.4%;
    left: 50%;
    transform: translate(-50%);
}

#overlay h2 {
    width: 700px;
    color: white;
    font-family: 'poppins';
    font-size: 19px;
    position: absolute;
    top: 42.9%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    opacity: 0.7;
}

#overlay a {
    text-decoration: none;
}

#learn_more {
    display: flex;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid;
    transition: 0.33s;
    width: 101px;
    margin-left: 5px;
    margin-right: 5px;
}

#try_now {
    width: 101px;
    background-color: #02a3ed;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #02a3ed;
    text-align: center;
    transition: 0.33s;
}

#learn_more:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

#try_now:hover {
    background-color: #00c3ff;
    border-color: #00c3ff;
}

@keyframes background_circle_3 {
    0% {
        background: grey;
        border-color: grey;
    }
    25.5% {
        background: grey;
        border-color: grey;
    }
    25.7% {
        background: white;
        border-color: white;
    }
    58.5% {
        background: white;
        border-color: white;
    }
    58.7% {
        background: grey;
        border-color: grey;
    }
    100% {
        background: grey;
        border-color: grey;
    }
}

@keyframes background_circle_1 {
    0% {
        background: grey;
        border-color: grey;
    }
    58.5% {
        background: grey;
        border-color: grey;
    }
    58.7% {
        background: white;
        border-color: white;
    }
    91.5% {
        background: white;
        border-color: white;
    }
    91.7% {
        background: grey;
        border-color: grey;
    }
    100% {
        background: grey;
        border-color: grey;
    }
}

@keyframes background_circle_2 {
    0% {
        background: white;
        border-color: white;
    }
    25.5% {
        background: white;
        border-color: white;
    }
    25.7% {
        background: grey;
        border-color: grey;
    }
    91.5% {
        background: grey;
        border-color: grey;
    }
    91.7% {
        background: white;
        border-color: white;
    }
    100% {
        background: white;
        border-color: white;
    }
}

#circles_images {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

#first_circle, #second_circle, #third_circle {
    margin-right: 5px;
    width: 11px;
    height: 11px;
    background: grey;
    border: solid 1px grey;
    border-radius: 15px;
    opacity: 0.8;
    cursor: pointer;
}

#first_circle {
    animation: background_circle_1 25s infinite;
}

#second_circle {
    animation: background_circle_2 25s infinite;
}

#third_circle {
    animation: background_circle_3 25s infinite;
}

#ancre_services {
    position: absolute;
    top: 92%;
}

#section_services {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 765px;
    /*background: ghostwhite;*/
    /*background: Gainsboro;*/
}

#title_services {
    text-align: center;
    margin-top: 45px;
    font-family: 'Poppins';
    font-size: 35px;
    padding-bottom: 0px;
}

#section_services h2 {
    text-align: center;
    margin-top: -25px;
    font-family: 'poppins';
    font-size: 20px;
    margin-bottom: 40px;
    color: grey;
}

#top_services {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#bottom_services {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#left_shape, #middle_shape, #right_shape {
    /*background: white;*/
    position: relative;
    border-radius: 2px;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 350px;
    /*background-color: Gainsboro;*/
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    /*box-shadow: 2px 2px 6px grey;*/
}

#left_shape_bottom, #middle_shape_bottom, #right_shape_bottom {
    /*background: white;*/
    position: relative;
    border-radius: 2px;
    margin: auto;
    margin-top: -100px;
    width: 350px;
    height: 350px;
    /*background-color: Gainsboro;*/
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    /*box-shadow: 2px 2px 6px grey;*/
}

#middle_shape {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#icon_devices, #icon_planet, #icon_social {
    position: absolute;
    width: 100px;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
}

#icon_devices {
    top: -9%;
}

#icon_social {
    width: 118px;
    top: -9.2%;
}

#top_services h1 {
    font-family: 'poppins';
    font-size: 18px;
}

#top_services p {
    position: absolute;
    margin: 30px;
    text-align: center;
    top: 27%;
    font-family: sans-serif;
}

#bottom_services h1 {
    font-family: 'poppins';
    font-size: 18px;
}

#bottom_services p {
    position: absolute;
    margin: 30px;
    text-align: center;
    top: 27%;
    font-family: sans-serif;
}

#middle_shape_bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#icon_innovation, #icon_connected, #icon_safety {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
}

#icon_innovation {
    top: -9%;
}

#icon_connected {
    top: -8.5%;
    width: 105px;
}

#icon_safety {
    top: -9.2%;
}

#devices {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#global {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#social {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#innovation {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#connected {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#safety {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#ancre_team {
    position: absolute;
    top: 92%;
}

#section_team {
    position: relative;
    height: 650px;
    /*background-color: #474747;*/
    background: url('images/background_about.jpg') no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

#overlay_section_team {
    height: 650px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

#section_team h1 {
    color: white;
    font-family: 'KeepCalm';
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}

#section_team p {
    position: relative;
    color: white;
    font-family: 'poppins-medium';
    font-size: 20px;
    margin: auto;
    margin-top: -10px;
    text-align: center;
    width: 1200px;
}

#person_images {
    margin: auto;
    display: flex;
    flex-direction: row;
}

#container_first_person, #container_second_person, #container_third_person {
    display: flex;
    flex-direction: column;
}

#person_images img {
    width: 200px;
    height: 200px;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -100px;
    border: solid white 3px;
    border-radius: 200px;
}

#person_images h1 {
    margin-top: 0;
    font-size: 20px;
    font-family: 'poppins-medium';
    text-align: center;
}

#person_images h2 {
    color: Gainsboro;
    text-align: center;
    font-family: 'poppins';
    font-size: 16px;
    margin-top: -10px;
}

#ancre_project {
    position: absolute;
    top: 92%;
}

#section_project {
    position: relative;
    height: 700px;
    /*background: ghostwhite;*/
}

#project_images {
    display: flex;
    flex-direction: column;
}

#project_images {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

#project_images div {
    display: flex;
    flex-direction: column;
}

#project_images h3 {
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 20px;
    opacity: 0.85;
}

#overlay_project_hover {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

#first_overlay, #second_overlay, #third_overlay, #fourth_overlay {
    width: 340px;
    height: 320px;
    margin-left: 9px;
    margin-right: 9px;
    transition: 0.35s;
    background-color: rgba(255, 0, 0, 0);
    opacity: 0;
    /*border: 2px solid;*/
}

#project_images img {
    width: 340px;
    height: 320px;
    margin-left: 9px;
    margin-right: 9px;
}

#first_overlay:hover, #second_overlay:hover, #third_overlay:hover, #fourth_overlay:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

#section_project h1 {
    text-align: center;
    margin-top: 57px;
    font-size: 35px;
    font-family: 'poppins';
}

#section_project h2 {
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    font-family: 'poppins';
    color: grey;
}

#section_project h4 {
    margin-top: 375px;
    text-align: center;
    font-family: 'poppins';
    font-size: 20px;
    color: black;
    opacity: 0.8;
}

#overlay_project_hover p {
    color: white;
    text-align: center;
    margin-top: 140px;
    font-family: 'poppins';
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#ancre_offers {
    position: absolute;
    top: 92%;
}

#section_offers {
    height: 750px;
    background: #0282ce;
    display: flex;
    flex-direction: column;
}

#section_offers h1 {
    text-align: center;
    color: white;
    font-family: 'poppins';
    font-size: 37px;
    margin-top: 45px;
}

#container_underligne {
    width: 80px;
    margin-top: 0px;
    align-self: center;
    border: 2px solid white;
}

#offers_container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-self: center;
}

#offers_container div {
    width: 360px;
    height: 480px;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    /*border: #0069a6 solid 2px;*/
    border-radius: 22px;
}

#offers_container h2 {
    margin-top: 0;
    color: black;
    background: Aliceblue;
    text-align: center;
    border-bottom: white solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'poppins';
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

#offers_container h3 {
    margin-top: 5px;
    color: #0282ce;
    text-align: center;
    align-self: center;
    /*margin: auto;*/
    font-family: 'poppins';
    font-size: 50px;
    margin-bottom: 25px;
}

#offers_container p {
    margin-top: -5px;
    color: black;
    text-align: center;
    align-self: center;
    /*margin: auto;*/
    font-family: sans-serif;
    font-size: 16px;
    border-bottom: 1px solid Gainsboro;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

#offers_container h4 {
    color: white;
    background: #0282ce;
    /*margin: auto;*/
    font-family: 'poppins';
    font-size: 15px;
    border-bottom: 1px solid #0282ce;
    border-radius: 30px;
    width: 170px;
    padding: 12px;
    text-align: center;
    align-self: center;
    margin: auto;
    margin-bottom: -10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.25s;
}

#offers_container h4:hover {
    width: 180px;
}

#section_contact {
    height: 670px;
    background: white;
    display: flex;
    flex-direction: column;
}

#section_contact h1 {
    text-align: center;
    color: black;
    font-family: 'poppins';
    font-size: 35px;
    margin-bottom: 0;
    opacity: 0.8;
    /*border-bottom: solid 3px white;
    padding-bottom: 25px;*/
}

#section_contact h2 {
    text-align: center;
    color: grey;
    font-family: 'poppins';
    font-size: 18px;
    opacity: 0.8;
    margin-top: 0;
}

#section_contact h3 {
    color: black;
    font-family: 'poppins';
    font-size: 28px;
    opacity: 0.8;
}

#section_contact ul {
    margin-top: 30px;
    margin-left: 230px;
}

#section_contact li {
    margin-bottom: -3px;
    color: grey;
    list-style: none;
    font-family: 'poppins';
    font-size: 18px;
}

#section_contact li p {
    margin-left: 2px;
}

#content_contact {
    margin-left: 50px;
    margin-top: -25px;
    display: flex;
    flex-direction: row;
}

#message h3 {
    margin-top: -2px;
    color: black;
    font-family: 'poppins';
    margin-left: 10px;
    font-size: 28px;
    opacity: 0.8;
}

#section_contact form {
    margin-left: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: grey;
    opacity: 0.8;
}

#First_Name, #Last_Name{
    width: 250px;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
    background: #f5f5f5;
    color: black;
    /*border: 1px #676767 solid;*/
    border: 0;
/*    border: 2px #676767 solid;*/
    transition: 0.35s;
    font-size: 15px;
}

#Email {
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
    background: #f5f5f5;
    color: black;
    border: 0;
/*    border: 2px #676767 solid;
    /*border: 1px #676767 solid;*/
    transition: 0.35s;
    font-size: 15px;
}

#your_message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    height: 160px;
    padding-top: 8px;
    padding-left: 8px;
    resize: none;
    font-size: 14px;
    font-family: sans-serif;
    border: none;
    background: #f5f5f5;
    color: black;
    border: 0;
    /*border: 2px #676767 solid;
    /*border: 1px #676767 solid;*/
    transition: 0.35s;
    font-size: 15px;
}

#First_Name:focus, #Last_Name:focus, #Email:focus, #your_message:focus {
    background: #e5e5e5;
}

#submit {
    margin-top: 20px;
    width: 200px;
    margin-left: 10px;
    height: 50px;
    background: white;
    color: #0282ce;
    border: 2px solid #0282ce;
    transition: 0.3s;
    font-size: 15px;

}

#submit:hover {
    cursor: pointer;
    background: #0282ce;
    color: white;
    border-radius: 3px;
}

footer {
    height: 80px;
    background-color: #313131;
    display: flex;
    flex-direction: row;
}

footer p {
    color: white;
    font-family: sans-serif;
    margin-top: 34px;
    margin-left: 320px;
    font-size: 14px;
    margin-right: 170px;
}
