@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('polices/BebasNeue-Regular.eot');
    src: url('polices/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('polices/BebasNeue-Regular.woff') format('woff'),
         url('polices/BebasNeue-Regular.ttf') format('truetype'),
         url('polices/BebasNeue-Regular.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Pro';
    src: url('polices/Cocogoose Pro Light-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('polices/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('polices/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Bold';
    src: url('polices/CODE Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KeepCalm';
    src: url('polices/KeepCalm-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.nav_fixed {
    position: fixed;
    background: white;
    height: 70px;
    width: 100%;
    z-index: 3001;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    top: -15%;
    box-shadow: 0 3px 6px 3px rgba(0,0,0,.06);
}

.nav_fixed h1 {
    font-family: 'Poppins-Medium';
    color: #0282ce;
    margin-left: 250px;
    margin-top: 13px;
}

.nav_fixed ul {
    margin-top: 22px;
    margin-left: 43%;
    display: flex;
    flex-direction: row;
}

.nav_fixed li {
    list-style: none;
}

.nav_fixed a {
    font-family: 'poppins-medium';
    font-size: 17px;
    padding-right: 17px;
    padding-left: 17px;
    color: black;
    text-decoration: none;
    transition: 0.15s;
    padding-bottom: 19px;
}

.nav_fixed a:hover {
    color: #0282ce;
    border-bottom: 4px solid #0282ce;
}

#menu_deroulant a:hover {
    color: black;
    border: none;
}

header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

header h1 {
    font-family: 'Poppins-Medium';
    color: white;
    margin-left: 250px;
}

nav {
    margin-left: 800px;
    margin-top: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
}

nav a {
    font-family: 'poppins-medium';
    font-size: 19px;
    padding-right: 17px;
    padding-left: 17px;
    margin: 0;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 9px;
    padding-bottom: 9px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav_onglet:hover{
    color: #00AAFF;
}


.nav_fixed span {
    display: none;
}

@media all and (min-width: 1480px) and (max-width: 1720px) {
    .nav_fixed ul {
        margin-left: 35%;
    }

    .nav_fixed h1 {
        margin-left: 150px;
    }
}

@media all and (min-width: 300px) and (max-width: 1479px) {
    .nav_fixed ul {
        margin-left: 5%;
        margin-right: auto;
    }
    .nav_fixed h1 {
        margin-left: auto;
    }
}

#banniere {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#background {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 600px;
    overflow: hidden;
}

@keyframes swipe {
    0% {
        margin-left: 0;
    }
    24% {
        margin-left: 0;
    }
    33% {
        margin-left: -100%;
    }
    57% {
        margin-left: -100%;
    }
    66% {
        margin-left: -200%;
    }
    90% {
        margin-left: -200%;
    }
    100% {
        margin-left: -300%;
    }
}

#background figure {
    /*position: absolute;*/
    width: 400%;
    margin: 0;
    margin-top: -200px;
    animation: swipe 25s infinite;
}


#background figure img {
    width: 25%;
    float: left;
}

#menu_button {
    display: none;
}

#overlay {
    position: absolute;
    background: rgba(24, 24, 24, 0.6);
    width: 100%;
    top: 0px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#banner {
    display: flex;
    flex-direction: column;
}

#banner_title {
    color: white;
    font-family: 'KeepCalm';
    font-size: 55px;
    text-align: center;
    margin-top: 125px;
}

#overlay h2 {
    color: white;
    font-family: 'poppins';
    font-size: 19px;
    text-align: center;
    margin-top: -25px;
    opacity: 0.7;
}

#banner_buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
}

#overlay a {
    text-decoration: none;
}

#learn_more {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid;
    transition: 0.33s;
    width: 101px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

#try_now {
    width: 101px;
    background-color: #02a3ed;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #02a3ed;
    text-align: center;
    transition: 0.33s;
}

#learn_more:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

#try_now:hover {
    background-color: #00c3ff;
    border-color: #00c3ff;
}
/* Début Media Queries pour la bannière */

@media all and (min-width: 1600px) and (max-width: 1800px) {
    nav {
        margin-left: 630px;
    }
    header h1 {
        margin-left: 175px;
    }
}

@media all and (min-width: 901px) and (max-width: 1599px) {
    nav {
        margin-left: 50px;
        margin-right: auto;
    }
    header h1 {
        margin-left: auto;
    }
}

@media all and (min-width: 200px) and (max-width: 900px) {
    nav ul {
        display: none;
    }
    header h1 {
        margin-left: 40px;
        font-size: 33px;
    }
    .nav_onglet {
        display: none;
    }
    .nav_fixed h1 {
        margin-left: 100px;
    }
    #menu_button {
        display: block;
    }
    #menu_deroulant {
        position: absolute;
        margin-top: 70px;
        left: 0%;
        flex-direction: column;
        transition: 0.3s;
        width: 100%;
    }
    #menu_deroulant a {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid Gainsboro;
        padding-top: 10px;
        padding-bottom: 10px;
        background: white;
        font-family: "poppins";
        transition: 0.25s;
        width: 100%;
        text-align: center;
        margin-left: -12px;
    }
    #menu_deroulant a:hover, #menu_deroulant_banniere a:hover {
        color: #0282ce;
        border-bottom: 1px solid Gainsboro;
    }
    .nav_fixed span {
        position: absolute;
        font-size: 30px;
        display: block;
        border: 1px solid;
        width: 50px;
        height: 30px;
        padding-left: 19px;
        padding-bottom: 20px;
        cursor: pointer;
        top: 10px;
        right: 10%;
        transition: 0.3s;
    }
    header span {
        position: absolute;
        display: block;
        top: 22px;
        right: 10%;
        color: white;
        font-size: 30px;
        border: 1px solid;
        width: 50px;
        height: 30px;
        padding-left: 19px;
        padding-bottom: 20px;
        transition: 0.3s;
        cursor: pointer;
    }
    header span:hover {
        background: white;
        color: black;
        border-color: white;
    }

    .nav_fixed span:hover {
        background: #0282ce;
        border-color: #0282ce;
        color: white;
    }
    #menu_deroulant_banniere {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0%;
        width: 100%;
        z-index: 1000;
    }
    #menu_deroulant_banniere a, #menu_deroulant_banniere h3 {
        width: 100%;
        color: black;
        text-decoration: none;
        border-bottom: 1px solid Gainsboro;
        padding-top: 10px;
        padding-bottom: 10px;
        background: white;
        font-family: "poppins";
        transition: 0.25s;
        text-align: center;
    }
    #menu_deroulant_banniere h3 {
        margin-bottom: 0;
        background: #0282ce;
        color: white;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
    header h1 {
        margin-left: 20px;
        font-size: 33px;
    }
    #banner_title {
        font-size: 39px;
    }
    #overlay h2 {
        font-size: 16px;
    }
    #menu_deroulant a {
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 399px) {
    header h1 {
        margin-left: 20px;
        font-size: 28px;
    }
    #banner_title {
        font-size: 35px;
    }
    #overlay h2 {
        margin-top: -15px;
        font-size: 16px;
    }
    #banner_buttons a {
        font-size: 16px;
        width: 100px;
    }
    #menu_deroulant a {
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 650px) {
    .nav_fixed h1 {
        font-size: 28px;
        margin-top: 5px;
        margin-left: 25px;
    }
    .nav_fixed {
        height: 50px;
    }
    .nav_fixed span, header span {
        font-size: 24px;
        padding-bottom: 15px;
        margin-top: -5px;
        width: 45px;
        height: 20px;
        text-decoration: none;
    }
    #menu_deroulant {
        margin-top: 45px;
    }
    #menu_deroulant a {
        margin: auto;
        text-align: center;
    }
    header span {
        margin-top: 2px;
    }

}
/* Fin Media Queries pour la bannière */

@keyframes background_circle_3 {
    0% {
        background: grey;
        border-color: grey;
    }
    25.5% {
        background: grey;
        border-color: grey;
    }
    25.7% {
        background: white;
        border-color: white;
    }
    58.5% {
        background: white;
        border-color: white;
    }
    58.7% {
        background: grey;
        border-color: grey;
    }
    100% {
        background: grey;
        border-color: grey;
    }
}

@keyframes background_circle_1 {
    0% {
        background: grey;
        border-color: grey;
    }
    58.5% {
        background: grey;
        border-color: grey;
    }
    58.7% {
        background: white;
        border-color: white;
    }
    91.5% {
        background: white;
        border-color: white;
    }
    91.7% {
        background: grey;
        border-color: grey;
    }
    100% {
        background: grey;
        border-color: grey;
    }
}

@keyframes background_circle_2 {
    0% {
        background: white;
        border-color: white;
    }
    25.5% {
        background: white;
        border-color: white;
    }
    25.7% {
        background: grey;
        border-color: grey;
    }
    91.5% {
        background: grey;
        border-color: grey;
    }
    91.7% {
        background: white;
        border-color: white;
    }
    100% {
        background: white;
        border-color: white;
    }
}

#circles_images {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

#first_circle, #second_circle, #third_circle {
    margin-right: 5px;
    width: 11px;
    height: 11px;
    background: grey;
    border: solid 1px grey;
    border-radius: 15px;
    opacity: 0.8;
    cursor: pointer;
}

#first_circle {
    animation: background_circle_1 25s infinite;
}

#second_circle {
    animation: background_circle_2 25s infinite;
}

#third_circle {
    animation: background_circle_3 25s infinite;
}

#ancre_services {
    position: absolute;
    top: 92%;
}

#section_services {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 765px;
    width: 100%;
    /*background: ghostwhite;*/
    /*background: Gainsboro;*/
}

#title_services {
    text-align: center;
    margin-top: 45px;
    font-family: 'Poppins';
    font-size: 35px;
    padding-bottom: 0px;
}

#section_services h2 {
    text-align: center;
    margin-top: -25px;
    font-family: 'poppins';
    font-size: 20px;
    color: grey;
    margin-bottom: 20px;
}

#top_services, #bottom_services {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 30px;
}


.shape_top {
    position: relative;
    border-radius: 2px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 40px;
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    margin-bottom: 40px;
}

.shape_bottom{
    position: relative;
    border-radius: 2px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: -110px;
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
}

#section_services img {
    width: 100px;
    height: 100px;
    align-self: center;
}

#top_services h1, #bottom_services h1 {
    margin-top: 8px;
    font-family: 'poppins';
    font-size: 18px;
    text-align: center;
}

#bottom_services h1 {
    margin-top: 3px;
}

#top_services p, #bottom_services p {
    text-align: center;
    font-family: sans-serif;
    margin: 30px;
    margin-top: 5px;
}

#top_services_responsive, #mid_services_responsive, #bottom_services_responsive {
    display: none;
}

#top_services_responsive h1, #mid_services_responsive h1, #bottom_services_responsive h1 {
    margin-top: 8px;
    font-family: 'poppins';
    font-size: 18px;
    text-align: center;
}
#top_services_responsive p, #mid_services_responsive p, #bottom_services_responsive p {
    text-align: center;
    font-family: sans-serif;
    margin: 30px;
    margin-top: 5px;
}

.shape_responsive {
    position: relative;
    border-radius: 2px;
    margin-left: 35px;
    margin-right: 35px;
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    margin-bottom: -30px;
}
.shape_responsive img {
    width: 100px;
    height: 100px;
}

/* Début Media Queries section services */

@media all and (min-width: 1200px) and (max-width: 1400px) {
    .shape_top, .shape_bottom {
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width: 930px) and (max-width: 1199px) {
    #section_services {
        height: 950px;
    }
    #top_services, #bottom_services {
        display: none;
        position: absolute;
    }
    #top_services_responsive, #mid_services_responsive, #bottom_services_responsive {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -50px;
        margin-top: 0;
    }
    #section_services h2 {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 929px) {
    #section_services {
        height: 1650px;
    }
    #top_services, #bottom_services {
        display: none;
        position: absolute;
    }
    #top_services_responsive, #mid_services_responsive, #bottom_services_responsive {
        display: flex;
        flex-direction: column;
    }
    #section_services h2 {
        margin-bottom: 80px;
    }
    .shape_responsive {
        margin-top: -50px;
        align-self: center;
    }
}

#ancre_team {
    position: absolute;
    top: 92%;
}

#section_team {
    position: relative;
    height: 650px;
    /*background-color: #474747;*/
    background: url('images/background_about.jpg') no-repeat;
    background-size: 1920px;
    display: flex;
    flex-direction: column;
}

#overlay_section_team {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

#section_team h1 {
    color: white;
    font-family: 'KeepCalm';
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}

#section_team p {
    position: relative;
    color: white;
    font-family: 'poppins-medium';
    font-size: 20px;
    margin: auto;
    margin-top: -10px;
    text-align: center;
    width: 1200px;
}

#person_images {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.container_person {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

#person_images img {
    width: 200px;
    height: 200px;
    align-items: center;
    margin-top: -100px;
    border: solid white 3px;
    border-radius: 200px;
}

#person_images h1 {
    margin-top: 0;
    font-size: 20px;
    font-family: 'poppins-medium';
    text-align: center;
}

#person_images h2 {
    color: Gainsboro;
    text-align: center;
    font-family: 'poppins';
    font-size: 16px;
    margin-top: -10px;
}

@media all (min-width: 1136px) and (max-width: 1335px) {
    #section_team p {
        width: inherit;
        font-size: 17px;
    }
}

@media all and (max-width: 1135px) {
    #section_team {
        height: 1400px;
        background-size: 3200px;
    }
    #person_images {
        display: flex;
        flex-direction: column;
        margin-top: -140px;
    }
    .container_person {
        margin-top: 140px;
        align-self: center;
        margin-left: 0;
        margin-right: 0;

    }
    .container_person img {
    }
    #section_team p {
        width: inherit;
        font-size: 17px;
    }
}

#ancre_project {
    position: absolute;
    top: 92%;
}

#section_project {
    position: relative;
    height: 700px;
    width: 100%;
    /*background: ghostwhite;*/
}

#project_images {
    display: flex;
    flex-direction: column;
}

#project_images {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

.project_responsive div {
    display: flex;
    flex-direction: column;
}

#project_images h3 {
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 20px;
    opacity: 0.85;
}

#overlay_project_hover {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

#first_overlay, #second_overlay, #third_overlay, #fourth_overlay {
    width: 340px;
    height: 320px;
    margin-left: 9px;
    margin-right: 9px;
    transition: 0.35s;
    background-color: rgba(255, 0, 0, 0);
    opacity: 0;
    /*border: 2px solid;*/
}

#project_images img {
    width: 340px;
    height: 320px;
    margin-left: 9px;
    margin-right: 9px;
}

#first_overlay:hover, #second_overlay:hover, #third_overlay:hover, #fourth_overlay:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

#section_project h1 {
    text-align: center;
    margin-top: 57px;
    font-size: 35px;
    font-family: 'poppins';
}

#section_project h2 {
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    font-family: 'poppins';
    color: grey;
}

#section_project h4 {
    margin-top: 375px;
    text-align: center;
    font-family: 'poppins';
    font-size: 20px;
    color: black;
    opacity: 0.8;
}

#overlay_project_hover p {
    color: white;
    text-align: center;
    margin-top: 140px;
    font-family: 'poppins';
    font-size: 20px;
    margin: auto;
}

.project_responsive {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 1500px) {
    #section_project {
        height: 1000px;
    }
    #overlay_project_hover {
        flex-direction: column;
    }
    #project_images h3 {
        margin-top: 5px;
        margin-bottom: 30px;
    }
    #project_images {
        flex-direction: column;
        margin-top: -120px;
    }
    #top_project_responsive {
        margin-bottom: 63px;
        margin-top: -121px;
    }
}
@media all and (max-width: 850px) {
    #project_images {
        margin-top: -345px;
    }
    #section_project {
        height: 1800px;
    }
    .project_responsive {
        flex-direction: column;
    }
    #top_project_responsive, #bottom_project_responsive {
        margin: 0;
    }
    #top_project_responsive div, #bottom_project_responsive div {
        margin: 0;
        margin-bottom: 62px;
    }
    #overlay_project_hover {
        margin-top: -345px;
    }
}

@media all and (max-width: 500px) {
    #section_project {
        height: 1430px;
    }
    #project_images {
        margin-top: -210px;
    }
    #project_images img {
        width: 250px;
        height: 235px;
    }
    #top_project_responsive div, #bottom_project_responsive div {
        width: 250px;
        height: 235px;
    }
    #overlay_project_hover {
        margin-top: -210px;
    }
    #overlay_project_hover p {
        margin: auto;
    }
}

#ancre_offers {
    position: absolute;
    top: 92%;
}

#section_offers {
    height: 750px;
    background: #0282ce;
    display: flex;
    flex-direction: column;
}

#section_offers h1 {
    text-align: center;
    color: white;
    font-family: 'poppins';
    font-size: 37px;
    margin-top: 45px;
}

#container_underligne {
    width: 80px;
    margin-top: 0px;
    align-self: center;
    border: 2px solid white;
}

#offers_container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-self: center;
}

#offers_container div {
    width: 360px;
    height: 480px;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    /*border: #0069a6 solid 2px;*/
    border-radius: 22px;
}

#offers_container h2 {
    margin-top: 0;
    color: black;
    background: Aliceblue;
    text-align: center;
    border-bottom: white solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'poppins';
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

#offers_container h3 {
    margin-top: 5px;
    color: #0282ce;
    text-align: center;
    align-self: center;
    /*margin: auto;*/
    font-family: 'poppins';
    font-size: 50px;
    margin-bottom: 25px;
}

#offers_container p {
    margin-top: -5px;
    color: black;
    text-align: center;
    align-self: center;
    /*margin: auto;*/
    font-family: sans-serif;
    font-size: 16px;
    border-bottom: 1px solid Gainsboro;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

#offers_container h4 {
    color: white;
    background: #0282ce;
    /*margin: auto;*/
    font-family: 'poppins';
    font-size: 15px;
    border-bottom: 1px solid #0282ce;
    border-radius: 30px;
    width: 170px;
    padding: 12px;
    text-align: center;
    align-self: center;
    margin: auto;
    margin-bottom: -10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.25s;
}

#offers_container h4:hover {
    width: 180px;
}

@media all and (max-width: 1280px) {
    #section_offers {
        height: 1820px;
    }
    #offers_container {
        flex-direction: column;
    }
    #offers_container div {
        margin-bottom: 70px;
    }
}

@media all and (max-width: 500px) {
    #section_offers {
        height: 1550px;
    }
    #offers_container div {
        width: 270px;
        height: 375px;
    }
    #offers_container h2 {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 20px;
    }
    #offers_container h3 {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #offers_container h4 {
        padding: 7px;
        font-size: 13px;
    }
    #offers_container p {
        font-size: 14px;
        padding: 5px;
    }
}

#section_contact {
    height: 670px;
    background: white;
    display: flex;
    flex-direction: column;
}

#section_contact h1 {
    text-align: center;
    color: black;
    font-family: 'poppins';
    font-size: 35px;
    margin-bottom: 0;
    opacity: 0.8;
    /*border-bottom: solid 3px white;
    padding-bottom: 25px;*/
}

#section_contact h2 {
    text-align: center;
    color: grey;
    font-family: 'poppins';
    font-size: 18px;
    opacity: 0.8;
    margin-top: 0;
}

#content_contact {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#section_contact h3 {
    color: black;
    font-family: 'poppins';
    font-size: 28px;
    opacity: 0.8;
    margin-bottom: 20px;
}

#section_contact ul {
    margin-top: 20px;
    margin-right: 200px;
}

#section_contact li {
    color: grey;
    list-style: none;
    font-family: 'poppins';
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.icon_contact {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon_network {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    cursor: pointer;
}

#section_contact li p {
    margin-left: 2px;
    margin-top: 7px;
}

#message h3 {
    color: black;
    font-family: 'poppins';
    margin-left: 10px;
    font-size: 28px;
    opacity: 0.8;
    margin-bottom: 20px;
}

#section_contact form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

::placeholder {
    color: grey;
    opacity: 0.8;
}

#First_Name, #Last_Name {
    width: 250px;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
    background: #f5f5f5;
    color: black;
    /*border: 1px #676767 solid;*/
    border: 0;
/*    border: 2px #676767 solid;*/
    transition: 0.35s;
    font-size: 15px;
}

#Email {
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
    background: #f5f5f5;
    color: black;
    border: 0;
/*    border: 2px #676767 solid;
    /*border: 1px #676767 solid;*/
    transition: 0.35s;
    font-size: 15px;
}

#your_message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    height: 160px;
    padding-top: 8px;
    padding-left: 8px;
    resize: none;
    font-size: 14px;
    font-family: sans-serif;
    border: none;
    background: #f5f5f5;
    color: black;
    border: 0;
    /*border: 2px #676767 solid;
    /*border: 1px #676767 solid;*/
    transition: 0.35s;
    font-size: 15px;
}

#First_Name:focus, #Last_Name:focus, #Email:focus, #your_message:focus {
    background: #e5e5e5;
}

#submit {
    margin-top: 20px;
    width: 200px;
    margin-left: 10px;
    height: 50px;
    background: white;
    color: #0282ce;
    border: 2px solid #0282ce;
    transition: 0.3s;
    font-size: 15px;

}

#submit:hover {
    cursor: pointer;
    background: #0282ce;
    color: white;
    border-radius: 3px;
}

@media all and (max-width: 1400px) {
    #section_contact ul {
        margin-right: 50px;
    }
    #section_contact form {
        margin-left: 50px;
    }
}

@media all and (max-width: 1050px) {
    #section_contact {
        height: 1000px;
    }
    #content_contact {
        flex-direction: column;
    }
    #section_contact ul {
        margin-left: -30px;
    }
    #section_contact form {
        margin-left: 0;
    }
}

@media all and (max-width: 570px) {
    #section_contact {
        height: 1100px;
    }
    #container_info_message {
        display: flex;
        flex-direction: column;
    }
    #First_Name, #Last_Name {
        width: 320px;
    }
}

@media all and (max-width: 570px) {
    #content_contact, #section_contact form {
        margin-left: auto;
        margin-right: auto;
    }
    #section_contact ul {
        margin-left: 0px;
    }
    #First_Name, #Last_Name, #Email, #your_message{
        width: 280px;
    }
    #submit {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 400px) {
    #section_contact {
        height: 1150px;
    }
    #content_contact ul, #content_contact form {
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    height: 80px;
    background-color: #313131;

}

#container_footer {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

footer p {
    color: white;
    font-family: sans-serif;
    margin: auto;
    font-size: 14px;
}

@media all and (max-width: 920px) {
    footer {
        height: 110px;
    }
    footer p {
        text-align: center;
    }
    #container_footer {
        margin-top: 43px;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media all and (max-width: 516px) {
    #container_footer {
        margin-top: 33px;
    }
}

@media all and (max-width: 368px) {
    #content_contact h3 {
        margin-bottom: 10px;
    }
}

/* Media Queries pour les toutes les font-size */

@media all and (max-width: 600px) {
    #title_services {
        margin-top: 35px;
    }
    #section_services h2 {
        font-size: 18px;
    }
    #section_team h1 {
        font-size: 32px;
    }
    #section_team p {
        font-size: 16px;
        text-align: center;
    }
    #person_images h1 {
        font-size: 20px;
    }
    #section_project h1 {
        font-size: 32px;
        margin-bottom: 35px;
    }
    #section_project h2 {
        font-size: 18px;
    }
    #section_offers h1 {
        font-size: 32px;
    }
}

/* Media Queries pour resolutions supérieures à 1920px*/

@media all and (min-width: 1920px) {
    #background  {
        width: 100%;
    }
    #section_team {
        background-size: 100%;
    }
}
