@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('polices/BebasNeue-Regular.eot');
    src: url('polices/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('polices/BebasNeue-Regular.woff') format('woff'),
         url('polices/BebasNeue-Regular.ttf') format('truetype'),
         url('polices/BebasNeue-Regular.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Pro';
    src: url('polices/Cocogoose Pro Light-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('polices/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('polices/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Bold';
    src: url('polices/CODE Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KeepCalm';
    src: url('polices/KeepCalm-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

}

header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    /*z-index: 1;*/
}

header h1 {
    position: absolute;
    font-family: 'Poppins-Medium';
    color: white;
    left: 13%;
    top: 0.3%;

}

nav {
    position: absolute;
    left: 72%;
    top: 3%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
}

nav a {
    font-family: 'poppins-medium';
    font-size: 19px;
    padding-right: 17px;
    padding-left: 17px;
    margin: 0;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 9px;
    padding-bottom: 9px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

a:hover{
    color: #00BFFF;
    /*border-bottom: solid 5px;*/

}

#background {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 600px;
    background: url("images/coworking_banner.jpg");
}

#overlay {
    position: absolute;
    background: rgba(24, 24, 24, 0.6);
    width: 100%;
    top: 0px;
    height: 600px;
    z-index: 1;
}

#banner {
    display: flex;
    flex-direction: column;
}

#banner_buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
}

#banner_title {
    color: white;
    font-family: 'KeepCalm';
    font-size: 55px;
    position: absolute;
    top: 26.4%;
    left: 50%;
    transform: translate(-50%);
}

#overlay h2 {
    width: 700px;
    color: white;
    font-family: 'poppins';
    font-size: 19px;
    position: absolute;
    top: 42.9%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    opacity: 0.7;
}

#overlay a {
    text-decoration: none;
}

#learn_more {
    display: flex;
    color: white;
    /*position: absolute;*/
/*    margin: 0;*/
    font-size: 18px;
    font-family: sans-serif;
/*    top: 55%;
    left: 50%;
    transform: translate(-100%); */
    padding: 8px;
    border-radius: 5px;
    border: 2px solid;
    transition: 0.25s;
    width: 101px;
    margin-left: 5px;
    margin-right: 5px;
}

#try_now {
    width: 101px;
    background-color: #00BFFF;
    color: white;
    /*position: absolute;*/
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-family: sans-serif;
/*    top: 55%;
    left: 50%;*/
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #00BFFF;
    text-align: center;
    transition: 0.33s;
}

#learn_more:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

#try_now:hover {
    background-color: #1E90FF;
    border-color: #1E90FF;
}

#circles_images {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

#first_circle, #third_circle {
    margin-right: 5px;
    width: 11px;
    height: 11px;
    background: white;
    border: solid 1px white;
    border-radius: 15px;
    opacity: 0.5;
}

#second_circle {
    margin-right: 5px;
    width: 11px;
    height: 11px;
    background: white;
    border: solid 1px white;
    border-radius: 20px;
}

section {
    display: flex;
    flex-direction: column;
    height: 800px;
    /*background: Gainsboro;*/
}

#title_services {
    text-align: center;
    margin-top: 55px;
    font-family: 'Poppins';
    font-size: 38px;
    padding-bottom: 0px;
}

section h2 {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 45px;
    font-family: 'poppins';
    font-size: 20px;
    color: grey;
}
#top_services {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#bottom_services {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#left_shape, #middle_shape, #right_shape {
    /*background: white;*/
    position: relative;
    border-radius: 2px;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 350px;
    /*background-color: Gainsboro;*/
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    /*box-shadow: 2px 2px 6px grey;*/
}

#left_shape_bottom, #middle_shape_bottom, #right_shape_bottom {
    /*background: white;*/
    position: relative;
    border-radius: 2px;
    margin: auto;
    margin-top: -100px;
    width: 350px;
    height: 350px;
    /*background-color: Gainsboro;*/
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    /*box-shadow: 2px 2px 6px grey;*/
}

#middle_shape {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#icon_devices, #icon_planet, #icon_social {
    position: absolute;
    width: 100px;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
}

#icon_devices {
    top: -9%;
}

#icon_social {
    width: 118px;
    top: -9.2%;
}

#top_services h1 {
    font-family: 'poppins';
    font-size: 18px;
}

#top_services p {
    position: absolute;
    margin: 30px;
    text-align: center;
    top: 27%;
    font-family: sans-serif;
}

#bottom_services h1 {
    font-family: 'poppins';
    font-size: 18px;
}

#bottom_services p {
    position: absolute;
    margin: 30px;
    text-align: center;
    top: 27%;
    font-family: sans-serif;
}

#middle_shape_bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#icon_innovation, #icon_connected, #icon_safety {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
}

#icon_innovation {
    top: -9%;
}

#icon_connected {
    top: -8.5%;
    width: 105px;
}

#icon_safety {
    top: -9.2%;
}

#devices {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#global {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#social {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#innovation {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#connected {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#safety {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%);
}

#block_1 {
    height: 450px;
    background-color: #474747;
    display: flex;
    flex-direction: column;
}

#block_1 h1 {
    color: white;
    font-family: 'KeepCalm';
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}

#block_1 p {
    color: white;
    font-family: 'poppins-medium';
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 1200px;
}

#block_2 {
    height: 380px;
    background-color: #00BFFF;
}

#block_3 {
    height: 350px;
    background-color: white;
}

footer {
    height: 400px;
    background-color: grey;
}
